body{font-family: 'Poppins', sans-serif;
     margin: 0;}
h1{font-size: 40px;}
.color-orange{color: #ffad5a;}
.flex1{display: flex;}
.half{width: 50%;
    padding-left: 5%;
    padding-top: 10%;}
.halfs img{width: 70%;
    padding-left: 10%;
    padding-top: 0%;}
.linked{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 89, 89);
    padding: 10px 15px;
    border-radius: 6px;}
.br{border-left: 4px solid rgb(255, 89, 89);
    margin: 0%;
    padding-left:7px;}
.first-margin{margin-bottom: 20px;}
.second-margin{margin-top: 40px;}
.amar{text-align: center;
     margin-top: 100px;
     font-size: 50px;
     font-weight: 800;}
.flex2{display: flex;}
.bc-blue{background-color:#edf5f6;
     margin-right: 30px;
     margin-top: 30px;
     margin-bottom: 30px;
     padding: 10px;
     border-radius: 20px;}
    .bc-blue img{width: 70%;}
.bc-red{background-color: #ffeeee;
     margin-top: 30px;
     margin-bottom: 30px;
     padding: 10px;
     border-radius: 20px;}
    .bc-red img{width: 70%;}
.bc-yellow{background-color: #fff4d6;
     margin-left: 30px;
     margin-top: 30px;
     margin-bottom: 30px;
     padding: 10px;
     border-radius: 20px;
    ;}
    .bc-yellow img{width: 70%;}
    .color-nevy{color: #13103a;}

    .flex2{display: flex;
    margin-top: 50px;}
    .half1{width: 50%;
    padding-top: 80px;}
    .halfs1 img{width: 80%;
        padding-left: 100px;
    background-image: url(shapes/shape-12.png);
    background-repeat: no-repeat;
background-position: left center;}
    .colorgray{color: #333333;
        margin: 0;}
    .colorgray1{color: #333333;
    margin: 0;}
    .ektu-dure{padding-right: 50px;}
    .linked1{
        text-decoration: none;
        color: white;
        background-color: #ff5959;
        padding: 10px 15px;
        border-radius: 6px;}
        .padding1{padding-left: 100px;
        padding-right: 100px;}
        .flex3{display: flex;
        margin-top: 50px;}
        .half2{width: 50%;
        padding-left: 100px;
        padding-top: 100px;}
        .halfs2 img{width: 80%;
        padding-left: 60px;
    padding-right: 90px;
background-image: url(shapes/shape-12.png);
background-repeat: no-repeat;
background-position: 100% 120%;}
.colorgray2{color: #333333;
margin: 0;}
.colorgray22{color: #333333;
margin: 0;}
.ektudure{padding-right: 150px;}
footer h1{text-align: center;}
footer p{text-align: center;}
footer{margin-top: 100px;
color: white;
background-color: #0b0d17;}
.colorakta{color: #ff5959;}
.pad{padding-top: 20px;
margin-bottom: 10px;}
.pad1{padding-bottom: 30px;
margin-top: 0;}


